:root{
    --hero_button:#CD3D10;
    --dark_color:#363636;
    --light_dark:#BEBCBB;
    --ps_blue:#0077D1;
    --ps_darkblue:#161C3B;
    --title_weight:400;
    --title_size:35px;
    --p_size:18px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
                    /* header  */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* nav sopra  */
.up_nav{
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 15px;
}
.logo-container{
    width: 70px;
}
/* nav bootstrap */
.dropdown-toggle::after{
    display: none;
}
.nav-item a .fa{
    font-size: 0.7em;
    color: #565656;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}
.navbar{
    padding: 0;
}
.my_button{
    background-color: var(--dark_color);
    border-radius: 30px;
    margin:0 5px;
}
                    /* jumbo  */
.hero#jumbo{
    width: 100%;
    margin-top: 90px;
    background-image: url(../img/jumbo-bg.png);
    height:calc(100vh - 90px);
}
.hero{
    background-size:cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: flex-end;
}
.hero_text h1{
    font-size:var(--title_size) ;
    font-weight: var(--title_weight);
}
.my_button#hero-button{
    background-color: var(--hero_button);
    color: white;
    margin-bottom: 20px;
}
                    /*cards in vetrina */
.my_card{
    margin: 20px 0;
}
.my_card img{
    border-radius: 20px;
}
                    /*sezione playstation 5 */
.console{
    margin-top:30px;
}
.console h1{
    font-size: var(--title_size);
    font-weight: var(--title_weight);
}
.console p{
    color: #565656;
    margin-top: 10px;
    font-size: var(--p_size);
}
.my_button#console-button{
    background-color: #2D64E6;
}
.console-card-row div{
    border-bottom:2px solid white;
}
.console-card-row div:hover{
    border-bottom:2px solid var(--ps_blue);
    cursor: pointer;
}
.console-card-row p{
    font-size: 12px;
}
                    /*hero gioco */
.hero#game{
    margin-top: 20px;
    width: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding: 2% 0;
}
                    /*cards nuove uscite */
.my_card#new-release{
    background-color: var(--dark_color);
    color: white;
}
.my_card p{
    font-size: var(--p_size);
    margin-top: 5px;
}
                    /*sezione playstation 4 */
.console#playstation-4 .container .row .div{
    margin: 10px 0;
}
                    /*hero playstation plus  */
.hero#playstation-plus{
    margin-top: 20px;
    width: 100%;
    background-color: var(--light_dark);
}
#playstation-plus .container .row .my_button#hero-button{
    background-color: rgb(217, 218, 220);
    color: var(--ps_blue);
}
#playstation-plus .container .row .hero_text p{
    color: black;
    font-size: var(--p_size);
    padding: 10px 0;
}
                    /*sezione playstation store */
.hero#playstation-now{
    margin-top: 20px;
    width: 100%;
    background-color: var(--ps_darkblue);
}
#playstation-now .container .row .hero_text p{
    padding: 20px 0;
}
#playstation-now .container .row .my_button#hero-button{
    background-color: white;
    color: black;
}

                    /*hero playstation now */

                    /*sezione social  */ 



@media screen and (max-width:767px) {
    .console-card-row p{
        display: none;
    }
    .console-card-row div{
        padding-bottom: 10px;
    }
    #playstation-plus .container .row .hero_text{
        color: black;
        font-size: var(--p_size);
    }
    #image-psplus{
       display: none;
    }
    .console img{
        margin-top: 30px;
    }
}