:root{
    --hero_button:#CD3D10;
    --dark_color:#363636;
    --light_dark:#BEBCBB;
    --ps_blue:#00439C;
    --ps_darkblue:#161C3B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.debug{
    border: 1px solid black;
}
                    /* header  */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* nav sopra  */
.up_nav{
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px 15px;
}
.logo-container{
    width: 70px;
}
/* nav bootstrap */
.dropdown-toggle::after{
    display: none;
}
.nav-item a .fa{
    font-size: 0.7em;
    color: #565656;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
}
.my_button{
    background-color: var(--dark_color);
    border-radius: 30px;
    margin:0 5px;
}
                    /* jumbo  */
.hero#jumbo{
    width: 100%;
    margin-top: 90px;
    background-image: url(../img/jumbo-bg.png);
    height:calc(100vh - 90px);
}
.navbar{
    padding: 0;
}
.hero{
    background-size:cover;
    background-position: center;
    background-attachment: ;
    color: white;
    display: flex;
    align-items: flex-end;
}
.my_button#hero-button{
    background-color: var(--hero_button);
    color: white;
    margin-bottom: 20px;
}


                    /*cards in vetrina */

                    /*sezione playstation 5 */

                    /*hero gioco */

                    /*cards nuove uscite */

                    /*sezione playstation 4 */

                    /*hero playstation plus  */

                    /*sezione playstation store */

                    /*hero playstation now */

                    /*sezione social  */



